.App {
  text-align: left;
}

.App-logo {
  height: 50px;
  padding: 20px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 3vh;
  color: white;
}

.App-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  max-width: 1440px;
  margin: auto;
}
.App-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.pure-form .App-headerInput {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

button.pure-button.pure-button-danger {
  background-color: #ff4f43;
  color: white;
}

aside {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding: 1em;
}
aside.info-block {
  background-color: #f5f8ff;
  border: 1px solid cornflowerblue;
}
aside.warn-block {
  background-color: #fff9e3;
  border: 1px solid rgb(237, 216, 100);
}

pre {
  border: 1px dashed grey;
  padding: 0.5em;
}
.status {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: small;
}

label {
  font-weight: bold;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

